name: Notify new papers to Slack

on:
  schedule:
    # ┌─ 分 (0) ─┬─ 時 (UTC 11 & 23) ┬─ 日 ┬─ 月 ┬─ 曜 ┐
    - cron: '0 11 * * *'   # 11:00 UTC = 20:00 JST
    - cron: '0 23 * * *'   # 23:00 UTC = 08:00 JST
    # - cron: '0 */12 * * *'  # 12時間ごとに実行 (0, 12 h in UTC)
  workflow_dispatch:      # 手動実行も可能にする

permissions:
  contents: write

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run script
        env:
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL_UsuiLab }}
        run: python main_rss.py # or run: python main_crossref.py

      - name: Git 設定
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"

      - name: 変更があればコミットしてプッシュ
        run: |
          git add posted_titles.txt
          git diff --cached --quiet || git commit -m "Update posted_titles.txt"
          git push
